<form name="crear" >
	<p class="row form-group " ng-class="{'has-error':!crear.inputTitle.$valid && crear.inputTitle.$dirty, 'has-success': crear.inputTitle.$valid && crear.inputTitle.$dirty }">
		<label class="control-label col-md-4 text-right">Título</label>
		<span class="col-md-8 "><input type="text" name="inputTitle" required ng-model="name" class="form-control"/></span>
	</p>
	<p class="row form-group " ng-class="{'has-error':!crear.selectlang.$valid}">
		<label class="control-label col-md-4 text-right">Lenguaje</label>
		<span class="col-md-8 "><select name="selectlang" required ng-model="lang" ng-options="lang.val as lang.label for lang in languajes" class="form-control"></select></span>
	</p>
	<p class="row form-group ">
		<label class="control-label col-md-4 text-right">Descripción</label>
		<span class="col-md-8 "><textarea required ng-model="description" class="form-control"></textarea></span>
	</p>
	<p class="row form-group ">
		<label class="control-label col-md-4 text-right">Contenido</label>
		<span class="col-md-8 "><textarea ng-model="content" class="form-control"></textarea></span>
	</p>
	<p class="row form-group ">
		<span class="col-md-8 col-md-offset-4">
			<button class="btn btn-active" ng-disabled="!crear.$valid">Guardar</button>
		</span>
	</p>
	
</form>