@import 'openschool';

.Themes{
    .description{
        min-height: 100px;  
    }
}

.themeList{
    
    padding: 0;

    li{
        display: block;
        padding: 1em;
        border-top: #ccc solid 1px;
        cursor: pointer;
        
        &:hover, &.active{
            background: #efefef;
        }
        
        h3{
            margin-top: 0;
        }
    }
    
    
}

.mediaNote{
    font-size: 0.818em;
    color: $secondaryColor;
}