<div class="desktop container" ng-controller="coursecontroller" ng-init="view = 'all'">
	
	
	<div ng-show="selectedTheme == null ">
		<h2>Cursos</h2>
		
		<ul class="nav nav-tabs nav-justified">
			<li role="presentation" ng-class="{ 'active' : view=='all' }"><a href="#" ng-click="view='all'">Catálogo</a></li>
			<li role="presentation" ng-class="{ 'active' : view=='mycourses' }"><a href="#" ng-click="view='mycourses'">Mis cursos</a></li>
		</ul>
		
		<br/>
		<theme-list list="themes" ></theme-list>
	</div>
	
	<div ng-show="selectedTheme != null">
		<button ng-click="regresar()" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</button>
		<theme-detail theme="selectedTheme"></theme-detail>
	</div>
	

	
	
	
</div>