<div >
	<h2>{{theme.name}}  
		<button class="btn btn-xs" 
			ng-click="subscribe()" 
			ng-show="detail.subscription != -1" 
			ng-disabled="detail.subscription == 1">
			<span class="glyphicon glyphicon-flag"></span> 
			<span ng-show="detail.subscription == 0">Suscribirse</span>
			<span ng-show="detail.subscription == 1">Ya está suscrito</span>
		</button>
	</h2>
	

	<div  ng-show="!detail">cargando...</div>

	<div ng-show="detail">
		<div>{{detail.description}}</div>
		
		<div class="list-group col-md-3 "  >
			<a  class="list-group-item " ng-repeat="lesson in detail.lessons" ng-click="selectLesson(lesson)" ng-class="{'active':selectedLesson == lesson}" >
				<h4 class="list-group-item-heading" >{{lesson.title}}</h4>
				<div class="list-group-item-text">{{lesson.description}}</div>
			</a>
		</div>
		
		
		<div class="col-md-9">
			<lesson-detail ng-show="selectedLesson"  lesson="selectedLesson"></lesson-detail>
		</div>
		
	</div>
	
</div>