<div >
	<h2>{{theme.name}}  
		<button class="btn btn-xs" 
			ng-click="subscribe()" 
			ng-show="detail.subscription != -1" 
			ng-disabled="detail.subscription == 1">
			<span class="glyphicon glyphicon-flag"></span> 
			<span ng-show="detail.subscription == 0">Suscribirse</span>
			<span ng-show="detail.subscription == 1">Ya está suscrito</span>
		</button>
	</h2>
	

	<div  ng-show="!detail">cargando...</div>

	<div ng-show="detail">
		<div>{{detail.description}}</div>
		<ol>
			<li ng-repeat="lesson in detail.lessons">
				<h3>{{lesson.title}}</h3>
				<div>{{lesson.description}}</div>
			</li>
		</ol>
		
		
		
		
		
		
	</div>
	
</div>