@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



.footer{
    text-align: center;
    clear: both;
    padding: 1em;
    margin: 1em auto;
    background-color: rgb(238, 238, 238);
    @include border-radius(5px);
}

.register{
    padding: 1em;
    margin: 1em auto;
    background-color: rgb(238, 238, 238);
    @include border-radius(5px);
}