<div class="desktop container">
        <div class="col-sm-3">
            <h2>Cursos</h2>
            <theme-list></theme-list>
        </div>
        
        <div class="col-sm-9">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" ng-class="{ 'active' : vista==0 }"><a href="#" ng-click=" vista=0">Curso</a></li>
                <li role="presentation" ng-class="{ 'active' : vista==1 }"><a href="#" ng-click=" vista=1">Lección</a></li>
                
            </ul>
            <theme-detail ng-show="vista==0 && selectedTheme!=null"></theme-detail>
            
            <div ng-show="vista==1">
                
                
                
                <lesson-detail ></lesson-detail>
            </div>
        </div>
</div>