<nav class="pull-right">
    <ul class="pagination">
        <li class="disabled">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        
        <li ng-class="{active : selectedLesson.id == lesson.id}" ng-repeat="lesson in selectedTheme.lessons track by $index">
          <span ng-click="loadLesson(lesson)">{{$index +1}} <span class="sr-only">(current)</span></span>
        </li>
        
        <li class="disabled">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
    </ul>
</nav>

<div class="lesson">
   <h2> <small ng-click="selectTheme(selectedLesson.theme)" ><span class="glyphicon glyphicon-chevron-left"></span>{{selectedLesson.theme.title}}</small> <br/>{{selectedLesson.title}}</h2>
   <div class="row">
    <div class="col-sm-8">
        
        <div ng-bind-html="selectedLesson.description"></div>
    
    </div>
    <div class="col-sm-4">
        <div ng-repeat="media in selectedLesson.media" class="thumbnail">
            
            
            <div ng-if="media.id_mediaKind == 1">
                <img ng-src="{{media.src}}" alt="{{media.title}}" class="img-responsive"  />
            </div>
            
            <div ng-if="media.id_mediaKind == 2" class="embed-responsive embed-responsive-16by9" >
                <video controls >
                    <source src="{{media.src+'.mp4'}}"  type="video/mp4"></source>
                    <source src="{{media.src+'.webm'}}" type="video/webm"></source>
                </video>
            </div>
            <div class="caption">
                <h5>{{media.title}}</h5>
                <div ng-bind="media.longDescription" class="mediaNote"></div>
            </div>
        </div>
    
    </div>
    </div>
</div>